*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
button{
    border: 2px solid transparent;
    transition: .4s;
    cursor: pointer;
}
a{
    text-decoration: none;
}
body{
    font-family: "Poppins",  sans-serif;
}

/*Header*/
#header{
    position: sticky;
    z-index: 100;
    top: 0;
    backdrop-filter: blur(8px);
    padding: 25px 0;
    -webkit-box-shadow: 0 5px 11px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 11px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 11px 2px rgba(34, 60, 80, 0.2);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 0 25px;
    transition: .4s;
}
.menu a:hover{
    color: blue;
    text-decoration-line: underline;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    padding-left: 16px;
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
}
.btn-1{
    background: transparent;
    padding: 10px 25px;
    border: 2px solid #02897A;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
}
.btn-1:hover{
    background: #02897A;
    color: white;
    border: 2px solid #02897A;

}
.btn-2{
    background: #02897A;
    padding: 10px 25px;
    border: 2px solid #02897A;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin: 0 24px;
}
.btn-2:hover{
    background: white;
    color: #173A56;
    border: 2px solid #02897A;
}
.btn-3{
    font-size: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    color: #02897A;
    rotate: 180deg;
}
.menu{
    display: flex;
    align-items: center;
}
/*Header end*/

/*Work*/
.work{
    padding: 30px 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-text h1{

    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}
.work-text p{
    padding: 18px 0 45px 0;
    height: 95px;
    width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
}
.btn-w button{
    padding: 10px 25px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
}
.btn-w button:hover{
    background: #FFFFFF;
    color: #02897A;
    border: 2px solid #02897A;
}
.btn-w ion-icon{
    width: 25px;
    height: 25px;
    background: transparent;
    color: #02897A;
    padding: 0 8px 0 20px;
}
.btn-w a{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897A;
}
.btn-w {
    display: flex;
    align-items: center;
}
/*Work end*/

/*Product*/
#product{
    background: url("../img/pro-bg.svg") no-repeat center/cover;
}
.product h3{
    padding-top: 100px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.pro-blocks{
    padding: 60px 0 30px 0;
}
.pro-blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-img-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #02897A;
    border-radius: 19px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 25px;

}
.block-1 h5{
    padding: 30px 0 13px 0;
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
}
.block-1 p{
    width: 240px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.block-img-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #4D8DFF;
    border-radius: 19px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 25px;

}
.block-2 h5{
    padding: 30px 0 13px 0;
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
}
.block-2 p{
    width: 240px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.block-img-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #740A76;
    border-radius: 19px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 25px;

}
.block-3 h5{
    padding: 30px 0 13px 0;
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
}
.block-3 p{
    width: 240px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.block-img-4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #F03E3D;
    border-radius: 19px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 25px;

}
.block-4 h5{
    padding: 30px 0 13px 0;
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
}
.block-4 p{
    width: 240px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.product button{
    padding: 10px 25px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    margin-bottom: 60px;
}
.product button:hover{
    background: #FFFFFF;
    color: #02897A;
    border: 2px solid #02897A;
}
/*Product end*/

/*Management*/
.management{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 60px 0;
}
.m-text h6{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.m-text h3{
    padding: 8px 0 24px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}
.m-text p{
    padding: 12px 0 25px 0;
    height: 78px;
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
/*Management end*/

/*Collaborative*/
.collaborative{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 60px 0;
}
.c-text h6{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.c-text h3{
    padding: 8px 0 24px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}
.c-text p{
    padding: 12px 0 25px 0;
    height: 78px;
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
/*Collaborative end*/

/*Support*/
.support{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 60px 0;
}
.s-text h6{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.s-text h3{
    padding: 8px 0 24px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}
.s-text p{
    padding: 12px 0 25px 0;

    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.text-icon{
    display: flex;
    align-items: center;
}
.text-icon-1 ion-icon{
    background: #FF9900;
    width: 35px;
    height: 35px;
    border-radius: 14px;
    color: #FFFFFF;
    margin-right: 20px;
}

.text-icon-2 ion-icon{
    background: #F03E3D;
    width: 35px;
    height: 35px;
    border-radius: 14px;
    color: #FFFFFF;
    margin-right: 20px;
}

.text-icon-3 ion-icon{
    background: #4D8DFF;
    width: 35px;
    height: 35px;
    border-radius: 14px;
    color: #FFFFFF;
    margin-right: 20px;
}

/*Support end*/